.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.chatContainer {
  width: 85vw;
  height: 85vh;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.message {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  max-width: 70%;
}

.userMessage {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  align-self: flex-end;
}

.botMessage {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  align-self: flex-start;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  resize: none; /* Add this line to make the input non-resizable */
  height: 10vh; /* Set the desired height */
  width: 80vw;
  overflow-y: auto; /* Enable vertical scrolling */
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.userMessageContainer {
  justify-content: flex-end;
}

.botMessageContainer {
  justify-content: flex-start;
}

.sender {
  font-weight: bold;
  margin-right: 10px;
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.8em 1.2em;
  /* height: 5vh; */
  /* width: 5vw; */
}

/* For the loading state, you might want to hide the text instead of removing it to maintain the button width */
.sendButton.loading {
  justify-content: center; /* Keep the loading animation centered */
  /* Visually hide the text, but it still occupies space */
  color: transparent;
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .sendButton {
    /* Scale the button size up or down for mobile, if needed */
    padding: 0.4em 0.6em; /* Adjust as needed */
    font-size: x-small;
  }
}

.loadingAnimation {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}